@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>There aren't really any realllll privacy concerns here since I guess this is going to be hosted locally.</p>
